// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.key_visual {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: image-url("softball-340488_1920.jpg");
  background-attachment: fixed;
}

.key_visual p.heading-upper {
  position: absolute;
  color: #fff;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 5vw;
  font-family: cursive,serif;
}

.key_visual p.heading-lower {
  position: absolute;
  color: #fff;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 5vw;
  font-family: cursive,serif;
}

.about-our-team {
  margin: 10px;
}

.header-title {
  font-family: cursive,serif;
}
