<!-- 野球7回 -->
<div class="baseball game_score">
<table class="game_box baseball times7">
<tbody>
<tr>
<td class="game_header" colspan="9">20××年××月××日@場所</td>
</tr>
<tr>
<td class="game_title" colspan="9">野球試合名</td>
</tr>
<tr>
<td class="game_cell_data team_name">チーム名</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data total_score">0</td>
</tr>
<tr>
<td class="game_cell_data team_name">チーム名</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data score">0</td>
<td class="game_cell_data total_score">0</td>
</tr>
</tbody>
</table>
</div>
